<main>
  <div class="container">
    <section>
      <h2>Criar sua própria Sala</h2>
      <form method="POST" action="/create-room">
        <label class="sr-only" for="room-pass">Insira uma Senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira uma Senha" />
        <button>
          <img src="/images/icon-users-white.svg" alt="Entrar na Sala" />
          Criar Sala
        </button>
      </form>
    </section>
  </div>
</main>
